#board {
    position: relative;
    background-color: rgb(176, 245, 243);
    height: 100vh;
}


.player {
    position: absolute;
    background-color: red;
    height: 20px; /*remove later*/
    width: 120px;

}

.obstacle {
    position: absolute;
    background-color: green;
    height: 20px;
    width: 120px;
}